<!DOCTYPE html>
<html>
<head>
    <title>{{produto.nome}}</title>
</head>
<body>
    <h1>{{produto.nome}}</h1>
    <p>Preço: R$ {{produto.preco}}</p>
    <p>ID: {{produto.id}}</p>
    <a href="/">Voltar para página inicial</a>

    
    <!-- Você pode adicionar mais detalhes do produto aqui -->
</body>
</html>